Spittr/.classpath
Spittr/.gitignore
Spittr/.settings/org.eclipse.core.resources.prefs
Spittr/.settings/org.eclipse.jdt.core.prefs
Spittr/.settings/org.eclipse.wst.common.component
Spittr/.settings/org.eclipse.wst.common.project.facet.core.xml
Spittr/.settings/org.eclipse.wst.validation.prefs
Spittr/.settings/oracle.eclipse.tools.webtier.ui.prefs
Spittr/.project

Spittr/.settings/org.eclipse.wst.jsdt.ui.superType.name

Spittr/.settings/.jsdtscope

Spittr/.settings/org.eclipse.wst.jsdt.ui.superType.container
Spittr/config.iml
Spittr/.idea/.name
Spittr/.idea/compiler.xml
Spittr/.idea/encodings.xml
Spittr/.idea/misc.xml
Spittr/.idea/modules.xml
Spittr/.idea/workspace.xml
Spittr/.idea/artifacts/config_war.xml
Spittr/.idea/artifacts/config_war_exploded.xml
Spittr/.idea/copyright/profiles_settings.xml
Spittr/.idea/libraries/Maven__aopalliance_aopalliance_1_0.xml
Spittr/.idea/libraries/Maven__cglib_cglib_nodep_2_1_3.xml
Spittr/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_2_3.xml
Spittr/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_2_3.xml
Spittr/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_databind_2_2_3.xml
Spittr/.idea/libraries/Maven__com_google_code_gson_gson_2_3_1.xml
Spittr/.idea/libraries/Maven__com_google_guava_guava_18_0.xml
Spittr/.idea/libraries/Maven__com_jayway_jsonpath_json_path_0_8_1.xml
Spittr/.idea/libraries/Maven__commons_codec_commons_codec_1_10.xml
Spittr/.idea/libraries/Maven__commons_collections_commons_collections_3_2_1.xml
Spittr/.idea/libraries/Maven__commons_io_commons_io_2_4.xml
Spittr/.idea/libraries/Maven__commons_lang_commons_lang_2_6.xml
Spittr/.idea/libraries/Maven__commons_logging_commons_logging_1_2.xml
Spittr/.idea/libraries/Maven__javax_servlet_javax_servlet_api_3_1_0.xml
Spittr/.idea/libraries/Maven__javax_servlet_jsp_jsp_api_2_2.xml
Spittr/.idea/libraries/Maven__javax_servlet_jstl_1_2.xml
Spittr/.idea/libraries/Maven__junit_junit_4_11.xml
Spittr/.idea/libraries/Maven__net_java_dev_jna_jna_4_1_0.xml
Spittr/.idea/libraries/Maven__net_java_dev_jna_jna_platform_4_1_0.xml
Spittr/.idea/libraries/Maven__net_minidev_json_smart_1_1_1.xml
Spittr/.idea/libraries/Maven__net_sourceforge_cssparser_cssparser_0_9_16.xml
Spittr/.idea/libraries/Maven__net_sourceforge_htmlunit_htmlunit_2_17.xml
Spittr/.idea/libraries/Maven__net_sourceforge_htmlunit_htmlunit_core_js_2_17.xml
Spittr/.idea/libraries/Maven__net_sourceforge_nekohtml_nekohtml_1_9_22.xml
Spittr/.idea/libraries/Maven__ognl_ognl_3_0_8.xml
Spittr/.idea/libraries/Maven__org_apache_commons_commons_exec_1_3.xml
Spittr/.idea/libraries/Maven__org_apache_commons_commons_lang3_3_4.xml
Spittr/.idea/libraries/Maven__org_apache_httpcomponents_httpclient_4_4_1.xml
Spittr/.idea/libraries/Maven__org_apache_httpcomponents_httpcore_4_4_1.xml
Spittr/.idea/libraries/Maven__org_apache_httpcomponents_httpmime_4_4_1.xml
Spittr/.idea/libraries/Maven__org_codehaus_jackson_jackson_core_asl_1_9_10.xml
Spittr/.idea/libraries/Maven__org_codehaus_jackson_jackson_mapper_asl_1_9_10.xml
Spittr/.idea/libraries/Maven__org_eclipse_jetty_jetty_io_9_2_11_v20150529.xml
Spittr/.idea/libraries/Maven__org_eclipse_jetty_jetty_util_9_2_11_v20150529.xml
Spittr/.idea/libraries/Maven__org_eclipse_jetty_websocket_websocket_api_9_2_11_v20150529.xml
Spittr/.idea/libraries/Maven__org_eclipse_jetty_websocket_websocket_client_9_2_11_v20150529.xml
Spittr/.idea/libraries/Maven__org_eclipse_jetty_websocket_websocket_common_9_2_11_v20150529.xml
Spittr/.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
Spittr/.idea/libraries/Maven__org_hamcrest_hamcrest_library_1_3.xml
Spittr/.idea/libraries/Maven__org_javassist_javassist_3_16_1_GA.xml
Spittr/.idea/libraries/Maven__org_mockito_mockito_all_1_9_5.xml
Spittr/.idea/libraries/Maven__org_seleniumhq_selenium_selenium_api_2_47_1.xml
Spittr/.idea/libraries/Maven__org_seleniumhq_selenium_selenium_htmlunit_driver_2_47_1.xml
Spittr/.idea/libraries/Maven__org_seleniumhq_selenium_selenium_remote_driver_2_47_1.xml
Spittr/.idea/libraries/Maven__org_slf4j_slf4j_api_1_6_6.xml
Spittr/.idea/libraries/Maven__org_springframework_spring_aop_4_2_0_RELEASE.xml
Spittr/.idea/libraries/Maven__org_springframework_spring_beans_4_2_0_RELEASE.xml
Spittr/.idea/libraries/Maven__org_springframework_spring_context_4_2_0_RELEASE.xml
Spittr/.idea/libraries/Maven__org_springframework_spring_core_4_2_0_RELEASE.xml
Spittr/.idea/libraries/Maven__org_springframework_spring_expression_4_2_0_RELEASE.xml
Spittr/.idea/libraries/Maven__org_springframework_spring_test_4_2_0_RELEASE.xml
Spittr/.idea/libraries/Maven__org_springframework_spring_tx_4_2_0_RELEASE.xml
Spittr/.idea/libraries/Maven__org_springframework_spring_web_4_2_0_RELEASE.xml
Spittr/.idea/libraries/Maven__org_springframework_spring_webmvc_4_2_0_RELEASE.xml
Spittr/.idea/libraries/Maven__org_thymeleaf_thymeleaf_2_1_4_RELEASE.xml
Spittr/.idea/libraries/Maven__org_thymeleaf_thymeleaf_spring4_2_1_4_RELEASE.xml
Spittr/.idea/libraries/Maven__org_unbescape_unbescape_1_1_0_RELEASE.xml
Spittr/.idea/libraries/Maven__org_w3c_css_sac_1_3.xml
Spittr/.idea/libraries/Maven__xalan_serializer_2_7_2.xml
Spittr/.idea/libraries/Maven__xalan_xalan_2_7_2.xml
Spittr/.idea/libraries/Maven__xerces_xercesImpl_2_11_0.xml
Spittr/.idea/libraries/Maven__xml_apis_xml_apis_1_4_01.xml
