Spittr/.classpath
Spittr/.gitignore
Spittr/.settings/org.eclipse.core.resources.prefs
Spittr/.settings/org.eclipse.jdt.core.prefs
Spittr/.settings/org.eclipse.wst.common.component
Spittr/.settings/org.eclipse.wst.common.project.facet.core.xml
Spittr/.settings/org.eclipse.wst.validation.prefs
Spittr/.settings/oracle.eclipse.tools.webtier.ui.prefs
Spittr/.project
